<div class = "col-sm-8">
  <div class = "table-responsive">
    <table class = "table table-hover">
      <!-- This is a table row with headers -->
        <tr>
          <th>Videos </th>
          <th>News </th>
          <th>Music</th>
          <th>My microblogs</th>
        </tr>

        <% @blogs.each do |blog| %>
        <tr>
      <td><%= blog.title %></td>
      <td><%= blog.body %></td>
          </tr>
        <% end %>
      </div>

      <div class="well">
      <%= link_to "Add New Blog", new_blog_path, class: 'btn btn-lg btn-default'%>
      </div>

      </div>
